<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sjy.threaddemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--四种线程调用 主界面-->
        <activity
            android:name=".InvokeThreadActivity"
            android:screenOrientation="portrait" />

        <!--方式1：handler+thread-->
         <activity
            android:name=".invoke_type1.HandlerAndThreadActivity"
            android:screenOrientation="portrait" />

        <!--方式1：handler+thread-自定义Thread-->
         <activity
            android:name=".invoke_type1.userDefineThread.UserDefineThreadActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>